:root {
	--accent: #00d4aa;
	--contrast: #3c474d;
}

/* meta */

* {
	font-family: 'Segoe UI', sans-serif;
}

html, body {
	margin: 0;
	zoom: 1.5;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	/* align-items: center; */
}

/* meta.components */

button,
summary.fake-button {
	display: block;
	background: var(--accent);
	border: 0;
	font-size: 18px;
	font-weight: 700;
	color: black;
	padding: 12px 24px;
	border-radius: 4px;
	cursor: pointer;
}

summary.fake-button {
	text-align: center;
	margin: 0 16px;
}

button:active,
summary.fake-button:active {
	background: lime;
}

header.overview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
	margin: 0;
	background: var(--contrast);
}

button.back {
	background: transparent;
	color: var(--accent);
	width: 100px;
	font-size: xx-large;
}

/* overview.header */

button.logout {
	font-size: 24px;
	color: red;
	background: transparent;
}

/* overview.QR */

p.notice {
	color: darkorange;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

/* overview.content */

main {
	padding: 16px;
}

h2 {
	color: gray;
	font-weight: 500;
}

h3 {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
}

div.resource {
	margin: 0 24px;
	display: flex;
	align-items: center;
	gap: 12px;
	border-bottom: 1px solid lightgray;
}
/* resource */

header.resource {
	display: flex;
	justify-content: start;
}

main.resource {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

p.description {
	text-align: center;
}

/* button.status {
} */

button.status-Occupied { background: red; }

button.status-Free::after     { content: "Benutzen"; }
button.status-Yours::after    { content: "Freigeben"; }
button.status-Occupied::after { content: "RESET"; }

h1.status-Free::after,
 p.status-Free::after     { content: "Frei"   ; color: var(--accent); }
h1.status-Yours::after,
 p.status-Yours::after    { content: "Deins"  ; color: gold; }
h1.status-Occupied::after,
 p.status-Occupied::after { content: "Besetzt"; color: red; }

p.notice::after {
	content: "Bitte nutze die Kamera-App deines Smartphones/Tablets"
}

.error-page {
	background: red;
}